<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="{{android.package}}">
    <uses-sdk 
        android:minSdkVersion="{{android.minimum_sdk_version}}" 
        android:targetSdkVersion="{{android.target_sdk_version}}" 
    />
    
    <application>
        <activity android:name="com.dynamo.android.DefoldActivity">
            {{#android.push_field_title}}
            <meta-data
                android:name="ru.rustore.defoldpush.field_title"
                android:value="{{android.push_field_title}}" />
            {{/android.push_field_title}}
            {{#android.push_field_text}}
            <meta-data
                android:name="ru.rustore.defoldpush.field_text"
                android:value="{{android.push_field_text}}" />
            {{/android.push_field_text}}
        </activity>

        <!-- Rustore notifications -->
        <activity android:name="ru.rustore.defoldpush.PushDispatchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="ru.rustore.defoldpush.FORWARD" />
                <category android:name="ru.rustore.defoldpush" />
            </intent-filter>
        </activity>

        <!-- For Rustore Pushes --> 
        <service 
            android:name="ru.rustore.defoldpush.RustoreMessagingService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="ru.rustore.sdk.pushclient.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="ru.rustore.sdk.pushclient.project_id"
            android:value="{{android.rustore_project_id}}" />

        <meta-data
            android:name="ru.rustore.sdk.pushclient.params_class"
            android:value="ru.rustore.defoldpush.RuStorePushClientParams" />
    </application>


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
